.show-zip-code {
  height: 100vh;
  width: 37vw;
  background: linear-gradient(200.90deg, #177938 0%, #115e53 100%);
}

.show-zip-code .title-code {
  margin-top: 1rem;
  text-align: center;
  color: #f1f1f1;
}