body {
  overflow-x: hidden;
}

#header-create-account {
  width: 100vw;
  height: 10vh;
  background: linear-gradient(200.90deg, #888787 0%, #2e2d2d 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#button-material-ui-history {
  background: linear-gradient(200.10deg, #606060 0%, #404040 100%);
  padding: .5rem 1rem;
  border-radius: 1rem;
  width: 8%;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #f1f1f1;
  transition: filter .3s;
}

#button-material-ui-history:hover {
  filter: brightness(.8);
}

#header-create-account #h1-code {
  font-size: 2.3rem;
  color: #f1f1f1;
}

#create-new-account-easily {
  height: 4vh;
  width: 50%;
}

#create-new-account-easily h3 {
  margin-top: 1rem;
  font-size: 2.9rem;
}

#create-new-account-easily span {
  font-size: 1.9rem;
  text-align: left;
}

@media(max-width: 760px) {
  #create-new-account-easily {
    width: 80%;
  }
}

@media(max-width: 650px) {
  #create-new-account-easily {
    width: 90%;
  }
}

@media(max-width: 360px) {
  #create-new-account-easily h3 {
    font-size: 1.9rem;
}

  .form-container #create-new-account-easily span {
    font-size: 1.5rem;
  }

  #header-create-account #h1-code {
    font-size: 2rem;
  }
  
}