#header-create-account {
  width: 100vw;
  height: 15.2vh;
  background: linear-gradient(200.90deg, #888787 0%, #2e2d2d 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header-create-account #h1-code, .anchor-signUp {
  color: #f1f1f1;
}

#header-create-account .anchor-signUp {
  font-size: 1.2rem;
  text-decoration: none;
  transition: all ease-out .3s;
  background: linear-gradient(289.90deg, #303030 0%, #606060 100%);
  border: 1.5px solid #1f2020;
  outline-color: #fff;
  border-radius: .7rem;
  padding: .5rem 2rem;
}

#header-create-account .anchor-signUp:hover {
  text-shadow: 12px 17px 12px #666565;
  filter: brightness(.8);
  color: #f1f1f1;
}

#header-create-account #h1-code {
  font-size: 2.3rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 33vh;
  width: 100vw;
}

#label-first-name, 
#label-last-name, 
#label-mobile-number-or-email, 
#label-new-password, 
#inputLabel-material-months, 
#inputLabel-day, 
#input-label-year {
  font: 500 1.2rem Nunito, sans-serif;
  color: #151515;
}

.form-container #form-create-account {
  display: flex;
  flex-direction: column;
  height: 23vh;
  margin-top: 3rem;
  position: relative;
}

.form-container #form-create-account .text-name {
  display: inherit;
  gap: 1rem;
}

.form-container #form-create-account .div-data {
  display: inherit;
  flex-direction: column;
  gap: .7rem;
}

.form-container #form-create-account #birthday {
  display: inherit;
  gap: .9rem;
  margin: 1rem 0;
  position: relative;
}

.form-container #form-create-account #h3-birthday {
  margin-top: 1rem;
  margin-bottom: 0;
}

#h3-birthday, #h3-gender {
  margin-left: 1.7%;
}

#inputLabel-material-months {
  position: absolute;
  bottom: 0;
}

#demo-controlled-open-select-label {
  position: absolute;
  top: 0;
}

#input-day-material {
  position: absolute;
  top: 0;
}

.form-container #form-create-account #birthday .selects-material-ui {
  cursor: pointer;
  width: 10vw;
  height: 5vh;
  padding: 0 .7rem;
  font-size: 1.3rem;
  color: #131313;
}

.form-container #form-create-account .inputsData, .inputs-create {
  font: 500 1.3rem Lexend, sans-serif;
  outline: none;
  padding: .7rem 1.2rem;
}

#h3-Create-a-new-account {
  margin-bottom: 0;
}

.form-container #create-new-account-easily {
  margin: .7rem 1.5rem auto;
  height: 5vh;
  width: 38.7vw;
  text-align: left;
}

.form-container #create-new-account-easily h3 {
  font-size: 2.9rem;
}

.form-container #create-new-account-easily span {
  font-size: 1.9rem;
}

.form-container #form-create-account .div-gender {
  display: inherit;
  align-items: center;
  justify-content: start;
  gap: 5rem;
  /* margin-top: 1rem; */
  width: 70%;
}

.form-container #form-create-account .div-gender .female, .male {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-container #form-create-account .div-gender .div-radio {
  background-color: #f1f1f1;
  border: 1px solid #131313;
  width: 1.8vw;
  height: 4vh;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease-out .3s;
}

.form-container #form-create-account .div-gender .div-radio:hover {
  background: #4bd452;
}

.radio-style-background-color {
  background-color: #1aac21;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.form-container #form-create-account .div-gender label {
  font-size: 1.7rem;
}
