.homeContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.homeContainer .profile-gitHub {
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.5rem;
  cursor: pointer;
  z-index: 999999999999;
  margin-right: 4rem;
  width: 4.6vw;
}

.homeContainer #header-search #input-search {
  border: 1px solid #606060;
  border-radius: .5rem;
  color: #131313;
  font-size: 1.2rem;
  outline: none;
  padding: .8rem 3rem;
}

.homeContainer .leaflet-container {
  margin-bottom: 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.homeContainer .leaflet-control-zoom {
  height: 0;
  width: 0;
  position: absolute;
  top: 650px;
}

.homeContainer .exit-anchor.link-login-anhor {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: .8rem;
}

.homeContainer .exit-anchor {
  z-index: 99999999999999999;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #606060;
  height: 7vh;
}

.homeContainer .exit-anchor .exit-span-anchor {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.popup-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999900;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-container-none {
  display: none;
}

.popup-container .account-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 2.3rem;
}

.popup-container .account-user .button-ui {
  font-size: calc(1.5rem - .5px);
  /* border-bottom: 2px solid #606060; */
  text-transform: capitalize;
}

.popup-container .account-user .button-ui a {
  text-decoration: none;
  text-transform: capitalize;
}

.popup-container .popup {
  width: 60%;
  height: 70.1%;
  padding-bottom: 14rem;
  margin-top: 5rem;
  position: relative;
  border-radius: .8rem;
  animation: popup-animation .5s 1;
}

@keyframes popup-animation {
  from {
    transform: translate3d(0, 60px, 0);
    transition: all ease-out .3s;

  }

  to {
    transform: translate3d(0, -60px, 0);
  }
}

.popup-container .popup .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  font-family: Inter, 'Times New Roman', Times, sans-serif;
  font-size: 1.2em;
}

.myProfile-github {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 88%;
}

.profile-gitHub-popup {
  position: absolute;
  border: .2rem solid rgba(116, 116, 116, 0.5);
  margin-top: 2rem;
  top: 0;
  width: 23.9%;
  height: 44.9%;
  border-radius: 50%;
}

.link-to-cep-page {
  background: linear-gradient(200.10deg, #177938 0%, #115e53 100%);
  text-decoration: none;
  position: absolute;
  bottom: 2rem;
  right: 0;
  margin-right: 2rem;
  color: #f1f1f1;
  transition: all ease-out .3s;
  padding: 1.1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.link-to-cep-page:hover {
  filter: brightness(.8);
  color: #fff;
}

.div-loading-avatar {
  position: absolute;
  top: 0;
  right: 0;
  color: #131313;
  font-size: 1.3rem;
  font-weight: 600;
}

.map-popup {
  border-radius: 20px;
  color: rgba(255, 255, 255, .6);
  padding: 1.2rem;
  font-size: 1.1rem;
}

@media(max-width: 760px) {
  .profile-gitHub-popup {
    width: 35vw;
    height: 23vh;
  }

  .popup-container .popup {
    width: 86.1vw;
    height: 48.2vh;
  }
  
  .homeContainer .profile-gitHub {
    width: 16vw;
  }

  .myProfile-github {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 89%;
  }
}

@media(max-width: 360px) {
  .homeContainer .profile-gitHub {
    width: 14.7vw;
    right: -28px;
    top: -6px;
  }

  .exit-span-anchor {
    font-size: 1rem;
  }

  .homeContainer #header {
    width: 42vw;
  }

  .homeContainer #header h1 {
    font-size: 1.3rem;
  }

  .link-to-cep-page {
    padding: 0.4rem;
  }

  .myProfile-github { 
    width: 26vw;
    height: 15vh;
  }

  .profile-gitHub-popup {
    width: 29vw;
    height: 16vh;
    margin-top: 2%;
    position: absolute;
    left: 110px;
  }

  .popup-container .account-user .button-ui a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
  }

  #section-user {
    margin-top: 1rem;  
  }
}