.homeContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.homeContainer #header {
  position: absolute;
  left: 0;
  z-index: 9999;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  text-align: center;
  width: 25vw;
  max-width: 750px;
  border-bottom: 1.2px solid #606060;
  color: #177938;
  background-color: rgba(241, 241, 241, .8);
  border-radius: 20px;
}

.homeContainer .profile-gitHub {
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.5rem;
  cursor: pointer;
  z-index: 999999999999;
  margin-right: 4rem;
  width: 4vw;
}

.homeContainer #header-search #input-search {
  border: 1px solid #606060;
  border-radius: .5rem;
  color: #131313;
  font-size: 1.2rem;
  outline: none;
  padding: .8rem 3rem;
}

.homeContainer .leaflet-container {
  margin-bottom: 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.homeContainer .leaflet-control-zoom {
  height: 0;
  width: 0;
  position: relative;
  top: 690px;
}

.homeContainer .exit-anchor {
  text-decoration: none;
  z-index: 99999999999999999;
  margin-top: 1.5rem;
  color: #606060;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(207, 207, 207, 0.5);
  border-bottom: 1px solid #606060;
  height: 7vh;
  transition: filter .3s;
}

.homeContainer .exit-anchor:hover {
  filter: brightness(.7);
}

.homeContainer .exit-anchor .exit-span-anchor {
  font-size: 1.8rem;
  color: #131313;
}

.homeContainer .exit-anchor .fiLogOut {
  color: #131313;
}

.popup-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999900;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-container .account-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 2.3rem;
}

.popup-container .account-user .span-account-user {
  color: #131313;
  font-size: calc(1.8rem - .4px);
  border-bottom: 2px solid #606060;
}

.popup-container .popup {
  background-color: rgba(255, 255, 255, .5);
  width: 60%;
  height: 70.1%;
  padding-bottom: 14rem;
  margin-top: 5rem;
  position: relative;
  border-radius: .8rem;
}

.popup-container .popup .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  font-family: Inter, 'Times New Roman', Times, sans-serif;
  font-size: 1.2em;
}

.myProfile-github {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 97%;
}

.profile-gitHub-popup {
  position: absolute;
  border: .2rem solid rgba(116, 116, 116, 0.5);
  transition: all ease-out .3s;
  margin-top: 2rem;
  top: 0;
  width: 27.9%;
  height: 48.9%;
  border-radius: 50%;
}

.link-to-cep-page {
  background: linear-gradient(200.10deg, #177938 0%, #115e53 100%);
  text-decoration: none;
  position: absolute;
  bottom: 2rem;
  right: 0;
  margin-right: 2rem;
  color: #f1f1f1;
  transition: all ease-out .3s;
  padding: 1.1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.link-to-cep-page:hover {
  filter: brightness(.8);
  color: #fff;
}
