.container-form {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.section-errors {
  color: #f00;
}

.container-form .arrow-back {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all ease-out .3s;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #1a3d39;
  font-size: 60px;
}

.container-form .arrow-back:hover {
  transform: translateY(-2px);
}

.container-form #form-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 29%;
  max-width: 1080px;
  min-width: 444px;
  height: 99%;
  background: linear-gradient(690.90deg, #606060 0%, #202020 100%);
  border-radius: 20px;
  position: relative;
}

.container-form form #h1-login {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  margin-top: 2rem;
  margin-bottom: 1.9rem;
  border-bottom: 1.7px solid #f3f3f3;
}

.container-float {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 13px;
}

.container-float .inputs-label-float {
  font-size: 1.4rem;
  color: #f1f1f1;
}

.container-form form .container-float #input-email, #input-password {
  font-size: 1.4rem;
  outline: none;
  width: 100%;
  min-width: 20vw;
  height: 7vh;
  color: #f1f1f1;
}

#input-label-email, #input-label-password {
  color: #909090;
  font-size: 1.4rem;
}

.container-form form .container-float .inputsForm {
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
}

.MdAccountBox, .Si1Password {
  margin-right: .7rem;
  height: 5vh;
}

.container-button-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-button-login #button-signIn-submit {
  padding: .7rem 1rem;
  margin-bottom: 4rem;
  
  display: flex;
  align-items: center;
  transition: all ease .4s;
  margin-left: .9rem;
  text-transform: capitalize;
}

.container-button-login #button-signIn-submit span {
  color: #f1f1f1;
  margin-left: .7rem;
  font-size: 1.3rem;
}

#button-signIn-submit, 
.link-signIn {
  background: linear-gradient(289.90deg, #303030 0%, #606060 100%);
  border: 1.5px solid #1f2020;
  outline-color: #bfc1c2;
  border-radius: 20px;
}

.link-create-account {
  font-size: 1.2rem;
  position: absolute;
  bottom: 108px;
  margin-left: .9rem;
}

.link-create-account 
.link-signIn {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  transition: all ease .4s;
}

.container-button-login 
#button-signIn-submit:hover, 
.link-create-account 
.link-signIn:hover {
  text-shadow: 12px 17px 12px #666565;
  filter: brightness(.6);
}

@media(max-width: 760px) {
  .container-form form #h1-login {
    font-size: 36px;
  }
}

@media(max-width: 360px) {
  .container-form form {
    width: 100vw;
    height: 100vh;
  }

  .container-form .arrow-back {
    z-index: 1;
    color: #f1f1f1;
    font-size: 45px;
    margin-top: 30px;
  }

  .container-button-login #button-signIn-submit {
    margin-bottom: 70px;
  }

  .link-create-account {
    bottom: 135px;
  }

  .container-form form .container-float .inputsForm {
    min-width: 74vw;
  }

  .container-form #form-login {
    height: 100%;
  }
}