.codeContainer .header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 16vh;
  background: linear-gradient(200.90deg, #177938 0%, #115e53 100%);
  position: relative;
}

.codeContainer .header-container #zip-code {
  color: #f1f1f1;
  font-size: 3rem;
}

.codeContainer .header-container .container-search {
  background-color: #f1f1f1;
  height: 7vh;
  width: 80vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.codeContainer .header-container .container-search .input-search {
  padding: .7rem 1rem;
  border-radius: 20px;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: calc(1.4rem - .4px);
  background-color: #f1f1f1;
  color: #303030;
}

.input-search::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.codeContainer .header-container .container-search .input-search::-webkit-search-decoration,
.codeContainer .header-container .container-search .input-search::-webkit-search-cancel-button,
.codeContainer .header-container .container-search .input-search::-webkit-search-results-button,
.codeContainer .header-container .container-search .input-search::-webkit-search-results-decoration {
  display: none;
}

.codeContainer .header-container .container-search .input-search::placeholder {
  font-size: calc(1.3rem - 0.8px);
}

.codeContainer .header-container .dehaze-icon {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: calc(1.4rem - .2px);
  margin-left: 1rem;
  cursor: pointer;
  font-size: 40px;
  transition: all ease-out .3s;
}

codeContainer .header-container .dehaze-icon:hover {
  transform: translateX(-2px);
}

#content-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
}

#form-zipCode {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 1rem;
  margin-top: 4%;
}

#form-zipCode .label-display-data-from-api {
  font-size: 1.3rem;
  color: #131313;
}

#form-zipCode .input-display-data-from-api {
  border-radius: 20px;
  padding: .7rem 1rem;
  border: 1px solid #9c9999;
  color: #131313;
  background: #f5f5f5;
  font-size: 1.1rem;
}

#button-submit {
  background-color: transparent;
  border: 0;
  color: #131313;
  font-size: 1.3rem;
}

#button-ui-material-styles {
  border-radius: 1rem;
  position: absolute;
  bottom: 12%;
  right: 11%;
  padding: 1.2rem;
}

.div-loading-form-data {
  color: #131313;
  font-size: 1.3rem;
  font-weight: 600;
  
}