@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: #3df;
}

@media (max-width: 1080px) {
  /* 16 * 0,9375 */
  html {
    font-size: 93.75%; /* === 15 px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: #f1f1f1;
  /* overflow-x: hidden; */
}

input, textarea, button {
  font: 500 1rem Inter, sans-serif;
  color: #808080;
}

button {
  cursor: pointer;
}